/*pokemon type colors: https://gist.github.com/apaleslimghost/0d25ec801ca4fc43317bcff298af43c3*/

.pokemonCard__type--normal{
    background: #A8A77A;
}
.pokemonCard__type--fire{
    background: #EE8130;
}
.pokemonCard__type--water{
    background: #6390F0;
}
.pokemonCard__type--electric{
    background: #F7D02C;
}
.pokemonCard__type--grass{
    background: #7AC74C;
}
.pokemonCard__type--ice{
    background: #96D9D6;
}
.pokemonCard__type--fighting{
    background: #C22E28;
}
.pokemonCard__type--poison{
    background: #A33EA1;
}
.pokemonCard__type--ground{
    background: #E2BF65;
}
.pokemonCard__type--flying{
    background: #A98FF3;
}
.pokemonCard__type--psychic{
    background: #F95587;
}
.pokemonCard__type--bug{
    background: #A6B91A;
}
.pokemonCard__type--rock{
    background: #B6A136;
}
.pokemonCard__type--ghost{
    background: #735797;
}
.pokemonCard__type--dragon{
    background: #6F35FC;
}
.pokemonCard__type--dark{
    background: #705746;
}
.pokemonCard__type--steel{
    background: #B7B7CE;
}
.pokemonCard__type--fairy{
    background: #D685AD;
}