.counterCard{
    height: 102rem;
    width: 50%;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
}
.counterCard__h2{
    font-size: 800%;
    font-weight: 400;
}

@media screen and (max-width: 62.5rem) {
    .counterCard{
        position: fixed;
        top: 2rem;
        right: 2rem;
        width: 10rem;
        height: 10rem;
        border-radius: 50%;
        background: white;
    }
    .counterCard__h2{
        font-size: 300%;
    }
}